extends ./base/layout

block title
  title Backbone-Forms jQueryUI autocomplete example

block menu
  +menu('autocomplete')

block extraheaders
  script(type="text/javascript" src="autocomplete.js")
  script(type="text/javascript" src="autocomplete-demo.js")

block content
  .container
    .row
      h3 jqueryui.autocomplete
      .col-md-6
        #form(style="padding-bottom: 10px;")
      .col-md-6
        p
          span.focus.label.label-success.hidden focus
          span.blur.label.label-success.hidden blur
        p.change
          span.label.label-primary
