extends ./base/layout

block title
  title Backbone-Forms jQueryUI checkbox example

block menu
  +menu('checkbox')

block extraheaders
  script(type="text/javascript" src="checkbox.js")
  script(type="text/javascript" src="checkbox-demo.js")

block content
  .container
    .row
      h3 jqueryui.checkbox
      .col-md-6
        #form(style="padding-bottom: 10px;")
      .col-md-6
        p
          span.focus.label.label-success.hidden focus
          span.blur.label.label-success.hidden blur
        p.change
          span.label.label-primary
