extends ./base/layout

block title
  title Backbone-Forms jQueryUI datepicker example

block menu
  +menu('datepicker')

block extraheaders
  script(type="text/javascript" src="datepicker.js")
  script(type="text/javascript" src="datepicker-demo.js")

block content
  .container
    .row
      h3 jqueryui.datepicker
      .col-md-6
        #form(style="padding-bottom: 10px;")
      .col-md-6
        p
          span.focus.label.label-success.hidden focus
          span.blur.label.label-success.hidden blur
        p.change
          span.label.label-primary
