extends ./base/layout

block title
  title Backbone-Forms jQueryUI radio example

block menu
  +menu('radio')

block extraheaders
  script(type="text/javascript" src="radio.js")
  script(type="text/javascript" src="radio-demo.js")

block content
  .container
    .row
      h3 jqueryui.radio
      .col-md-6
        #form(style="padding-bottom: 10px;")
      .col-md-6
        p
          span.focus.label.label-success.hidden focus
          span.blur.label.label-success.hidden blur
        p.change
          span.label.label-primary
