extends ./base/layout

block title
  title Backbone-Forms jQueryUI selectmenu example

block menu
  +menu('selectmenu')

block extraheaders
  script(type="text/javascript" src="selectmenu.js")
  script(type="text/javascript" src="selectmenu-demo.js")

block content
  .container
    .row
      h3 jqueryui.selectmenu
      .col-md-6
        #form(style="padding-bottom: 10px;")
      .col-md-6
        p
          span.focus.label.label-success.hidden focus
          span.blur.label.label-success.hidden blur
        p.change
          span.label.label-primary
